.finish-info__wrapper {
  width: 100%;
  padding-bottom: 175px;
  background-color: #E5E5E5;
}

.finish-info__container {
  position: relative;
  top: -320px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.finish-info__title {
  background-color: transparent;
  font-size: 72px;
  font-weight: 700;
  color: var(--color-white);
}

.finish-info__bg-wrapper {
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px #00000040;
}

.finish-info__order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background-color: var(--color-white);
  font-size: 36px;
}

.finish-info__order-info p:first-child, 
.finish-info__order-cost {
  font-weight: 700;
  color: var(--color-black);
}

.finish-info__order-cost {
  margin: 0 10px 0 20px;
}

.finish-info__order-info p:last-child {
  color: var(--color-grey);
}

.finish-info__tickets-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  background-color: #F4F3F6;
}

.finish-info__ticket-info {
  max-width: 200px;
  width: 100%;
  text-align: center;
}

.finish-info__ticket-info svg {
  width: 155px;
  height: 155px;
  margin: 0 auto;
  margin-bottom: 10px;
  color: var(--color-orange);
}

.finish-info__ticket-info p {
  font-size: 18px;
  color: var(--color-black);
}

.finish-info__appeal-info {
  padding: 95px 200px 130px;
  background-color: var(--color-white);
}

.finish-info__appeal-info p {
  font-size: 24px;
  color: var(--color-black);
}

.finish-info__appeal-info p:first-child {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.finish-info__appeal-info p:last-child {
  font-weight: 700;
  margin-top: 90px;
}

.finish-info__service-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 50px 80px;
  background-color: var(--color-orange);
}

.service-rating__title {
  font-size: 24px;
  color: var(--color-black);
}

.service-rating__stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.service-rating__star {
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 3.23607L28.4373 16.8926L28.6618 17.5836H29.3883H43.7477L32.1307 26.0238L31.5429 26.4508L31.7675 27.1418L36.2047 40.7984L24.5878 32.3582L24 31.9311L23.4122 32.3582L11.7953 40.7984L16.2325 27.1418L16.4571 26.4508L15.8693 26.0238L4.25233 17.5836H18.6117H19.3382L19.5627 16.8926L24 3.23607Z' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.service-rating__star:hover, 
.service-rating__star:active {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 3.23607L28.4373 16.8926L28.6618 17.5836H29.3883H43.7477L32.1307 26.0238L31.5429 26.4508L31.7675 27.1418L36.2047 40.7984L24.5878 32.3582L24 31.9311L23.4122 32.3582L11.7953 40.7984L16.2325 27.1418L16.4571 26.4508L15.8693 26.0238L4.25233 17.5836H18.6117H19.3382L19.5627 16.8926L24 3.23607Z' fill='%23329C00' stroke='%232B8700' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.service-rating__btn {
  width: fit-content;
  margin-left: auto;
  padding: 15px 10px;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-black);
  background-color: transparent;
  text-transform: uppercase;
  transition: color, border-color, background-color 0.5s ease-in-out;
}

.service-rating__btn:hover {
  color: var(--color-white);
  border-color: var(--color-white);
  box-shadow: 0px 2px 2px #00000033;
}

.service-rating__btn:active {
  color: var(--color-orange);
  border-color: var(--color-orange);
  background-color: var(--color-white);
  box-shadow: 0px 2px 2px #00000033;
}