.seats__wagon-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 30px;
  position: relative;
}

.seats__wagon-details::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 20px;
  border-bottom: 1px dashed grey;
}

.wagon-details__number {
  background-color: #ffaa0080;
  padding: 30px;
  font-size: 24px;
  text-align: center;
}

.wagon-number {
  font-size: 72px;
  font-weight: 700;
}

.wagon-details__place {
  flex: 1;
  font-size: 24px;
  padding: 30px 0 0 80px;
}

.wagon-details__place-count {
  font-weight: 700;
}

.wagon-details__place p:first-child {
  font-size: 18px;
  color: var(--color-grey);
  margin-bottom: 20px;
}

.wagon-details__place p:first-child .wagon-details__place-count {
  font-size: 18px;
  color: var(--color-black);
}

.wagon-details__price {
  flex: 1;
  font-size: 24px;
  color: var(--color-grey);
  padding-top: 30px;
}

.wagon-details__price p:first-child {
  font-size: 18px;
  margin-bottom: 20px;
}

.wagon-details__price-count {
  margin-right: 10px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-black);
}

.wagon-details__service {
  flex: 1;
  font-size: 18px;
  color: var(--color-grey);
  padding-top: 30px;
}

.wagon-details__service p:first-child {
  margin-bottom: 20px;
}

.wagon-details__service-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.wagon-details__service-icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  color: var(--color-black);
  cursor: pointer;
}

.wagon-details__service-icon:hover {
  background-color: var(--color-orange);
}

.wagon-details__service-icon-include, 
.wagon-details__service-icon-include:hover {
  color: var(--color-grey);
  border-color: #FCDC9D;
  background-color: #FCDC9D;
  cursor: not-allowed;
}

.wagon-details__service-icon-active {
  color: var(--color-white);
  border-color: var(--color-orange);
  background-color: var(--color-orange);
}