.ant-select-show-search:where(.css-dev-only-do-not-override-djtmh8).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: absolute;
  top: 0;
  left: 0;
}

.ant-select-focused:where(.css-dev-only-do-not-override-djtmh8).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: transparent;
  box-shadow: none;
}

.ant-select-focused:where(.css-dev-only-do-not-override-djtmh8).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer).ant-select {
  border-color: var(--color-orange);
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select .ant-select-selection-placeholder {
  color: #757575;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select .ant-select-arrow {
  display: none;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-single {
  height: 63px;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding: 0 50px 0 20px;
  font-size: 16px;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-single .ant-select-selector .ant-select-selection-search {
  inset-inline-start: 20px;
  inset-inline-end: 50px;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: transparent;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-single.ant-select-show-arrow .ant-select-selection-item, :where(.css-dev-only-do-not-override-djtmh8).ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-inline-end: 0;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-dropdown {
  padding: 10px 20px;
  background-color: #F5F4F6;
  border-radius: 3px;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-dropdown .ant-select-item {
  padding: 5px 0;
  font-size: 16px;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: transparent;
  color: var(--color-orange);
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-dropdown .ant-select-item:hover {
  color: var(--color-orange);
}