.footer-copyright {
  padding: 25px 0 30px;
}

.copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.copyright-logo__link {
  width: fit-content;
  font-size: 36px;
  font-weight: 900;
  color: #E5E5E5;
  transition: color 0.5s ease-in-out;
}

.copyright-logo__link:hover,
.copyright-logo__link:focus,
.copyright-logo__link:focus-visible {
  color: var(--color-orange);
}

.copyright-top-btn {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='18' cy='18' r='17.5' stroke='%23E5E5E5'/%3E%3Cpath d='M18.3 16.7569C19.9257 18.3882 21.4531 19.9325 22.9668 21.4552C23.3758 21.8668 24.0742 21.835 24.4854 21.4256C24.8979 21.0149 24.8647 20.3803 24.4522 19.9696C22.6174 18.1427 20.7774 16.3107 18.9612 14.5024C18.5711 14.114 17.9403 14.1139 17.5504 14.5026C15.8017 16.2458 13.9964 18.0515 12.1839 19.8493C11.7544 20.2753 11.7196 20.9344 12.1607 21.3485C12.5791 21.7412 13.2721 21.7659 13.68 21.3622C15.1456 19.912 16.6794 18.383 18.3 16.7569Z' fill='%23E5E5E5'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.copyright-top-btn:hover,
.copyright-top-btn:focus,
.copyright-top-btn:focus-visible {
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='18' cy='18' r='17.5' stroke='%23FFA800'/%3E%3Cpath d='M18.3 16.7569C19.9257 18.3882 21.4531 19.9325 22.9668 21.4552C23.3758 21.8668 24.0742 21.835 24.4854 21.4256C24.8979 21.0149 24.8647 20.3803 24.4522 19.9696C22.6174 18.1427 20.7774 16.3107 18.9612 14.5024C18.5711 14.114 17.9403 14.1139 17.5504 14.5026C15.8017 16.2458 13.9964 18.0515 12.1839 19.8493C11.7544 20.2753 11.7196 20.9344 12.1607 21.3485C12.5791 21.7412 13.2721 21.7659 13.68 21.3622C15.1456 19.912 16.6794 18.383 18.3 16.7569Z' fill='%23FFA800'/%3E%3C/svg%3E%0A");
}

.copyright-info {
  font-size: 24px;
  font-weight: 300;
  color: var(--color-white);
}