.seats-title {
  margin-bottom: 50px;
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.seats-button {
  width: fit-content;
  margin-left: auto;
  margin-top: 80px;
  padding: 15px 70px;
  border: 2px solid var(--color-orange);
  border-radius: 5px;
  background-color: var(--color-orange);
  font-size: 24px;
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
  transition: color, border-color, background-color 0.5s ease-in-out;
}

.seats-button:disabled {
  border-color: var(--color-grey);
  background-color: var(--color-grey);;
}

.seats-button:hover:not(:disabled), 
.seats-button:focus, 
.seats-button:focus-visible {
  box-shadow: 0px 4px 4px #00000040;
}

.seats-button:active:not(:disabled) {
  background-color: transparent;
  color: var(--color-orange);
  box-shadow: 0px 4px 4px #00000040;
}